.home-page {
  background: rgba(59, 130, 246, 1);
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.stories-container {
  width: 100%;
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20vh;
  border-bottom: 1px solid #ffffff4e;
  margin-top: 110px;
}
@media (min-width: 768px) {
  .stories-container {
    padding-left: 20%;
    padding-right: 20%;
    border-width: 0px;
  }
}
.try-again-button {
  background-color: #ffffff;
  color: rgba(59, 130, 246, 1);
  border-width: 0px;
  border-radius: 10px;
  padding: 10px;
}
.stories-small {
  width: 100%;
  padding: 10px;
}
.stories-large {
  display: none;
}
@media (min-width: 768px) {
  .stories-large {
    display: inline;
    width: 100%;
    padding: 10px;
  }
  .stories-small {
    display: none;
  }
}
.story {
  width: 25%;
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}
.story-image {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  margin-left: 20%;
}
@media (min-width: 768px) {
  .story-image {
    margin-left: 35%;
  }
}
.story-username {
  color: #ffffff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  margin-top: 10px;
}
.posts-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 70vh;
  width: 100%;
}
@media (min-width: 768px) {
  .posts-container {
    border-top: 1px solid #ffffff4e;
    border-right: 1px solid #ffffff4e;
    border-left: 1px solid #ffffff4e;
    margin-left: 20%;
    margin-right: 20%;
    width: 60%;
  }
}
.post-failure-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 50px;
  border-radius: 50%;
}
.post-try-again-button {
  background-color: rgba(59, 130, 246, 1);
  color: #ffffff;
  border-width: 0px;
  border-radius: 10px;
  padding: 10px;
  margin-top: 20px;
}
.fail-alert-image {
  width: 50px;
  height: 50px;
  margin-bottom: 20px;
}
.failure-message {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  text-align: center;
}
.posts {
  height: 70vh;
  width: 100%;
}
@media (min-width: 768px) {
  .posts {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.no-search-result-container {
  color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.search-not-found-img {
  width: 150%;
}
.search-not-found-msg {
  margin-top: 20px;
}
.search-not-found-description {
  margin-top: 20px;
}
